/* some very basic styles */
body, input, button {font: 1.25rem "Andale mono", monospace; }
button {margin: 0.5rem 0;}
p {font-size: 1rem;}
/* these are for the hilite */
.highlight {background-color: #dede66;}
.selected {color: #ff3333;}
form::selection, input::selection, label::selection, span::selection {background: transparent;}
